{%- set has_system = messages|selectattr('role', 'equalto', 'system')|list|length > 0 -%}

{# default system prompt #}
{%- if not has_system -%}
    {{- '<|im_start|>system\n' -}}
    {{- 'A conversation between User and Assistant. The user asks a question, and the Assistant solves it. ' -}}
    {{- 'The assistant first thinks about the reasoning process in the mind and then provides the user with the answer. ' -}}
    {{- 'The reasoning process and answer are enclosed within <think>...</think> and <answer>...</answer> tags, ' }}
    {{- 'respectively, i.e., <think> reasoning process here </think> <answer> answer here </answer>.' -}}
    {{- '<|im_end|>\n' -}}
{%- endif -%}

{%- for message in messages -%}
    {%- if message['role'] == 'system' -%}
        {#  user-provided system message #}
        {{- '<|im_start|>system\n' + message['content'] -}}

        {# no tools for now #}
        {# {%- if tools is not none -%}
            {{- '<functions>' -}}
            {{- tools | tojson -}}
            {{- '</functions>' -}}
        {%- elif message.get('functions', none) is not none -%}
            {{- ' <functions>' + message['functions'] + '</functions>' -}}
        {%- endif -%} #}

        {{- '<|im_end|>\n' -}}
    
    {# user message #}
    {%- elif message['role'] == 'user' -%}
        {{- '<|im_start|>user\n' + message['content'] + '<|im_end|>\n' -}}
    
    {# assistant mesasge #}
    {%- elif message['role'] == 'assistant' -%}
        {{- '<|im_start|>assistant\n' -}}

        {# print content if it exists #}
        {%- if message.get('content', none) is not none -%}
            {{- message['content'] -}}
        {%- endif -%}
        
        {# WE ARENT USING THIS YET #}
        {# print function calls if they exist #}
        {# {%- if message.get('function_calls', none) is not none -%}
            {{- '<function_calls>' + message['function_calls'] + '</function_calls>' -}}
        {% elif message.get('tool_calls', none) is not none %} #}
            {# handles tool calls  #}
            {# {{- '<function_calls>' -}}
            {%- for tool_call in message['tool_calls'] %}
                {%- if tool_call is mapping and tool_call.get('function', none) is not none %}
                    {%- set args = tool_call['function']['arguments'] -%}
                    {%- set ns = namespace(arguments_list=[]) -%}
                    {%- for key, value in args.items() -%}
                        {%- set ns.arguments_list = ns.arguments_list + [key ~ '=' ~ (value | tojson)] -%}
                    {%- endfor -%}
                    {%- set arguments = ns.arguments_list | join(', ') -%}
                    {{- tool_call['function']['name'] + '(' + arguments + ')' -}}
                    {%- if not loop.last -%}
                        {{ '\n' }}
                    {%- endif -%}
                {% else %}
                    {{- tool_call -}}
                {%- endif %}
            {%- endfor %}
            {{- '</function_calls>' -}}
        {%- endif -%} #}

        {# end the message or print the eos token #}
        {%- if not loop.last -%}
            {{- '<|im_end|>' + '\n' -}}
        {%- elif not add_generation_prompt -%}
            {{- eos_token -}}
        {%- endif -%}
    
    {# responses from tools - we're just doing basic thinking so we dont need this #}
    {# {%- elif message['role'] == 'environment' -%}
        {{- '<|im_start|>environment\n' + message['content'] + '<|im_end|>\n' -}}
    {%- elif message['role'] == 'tool' -%}
        {{- '<|im_start|>environment\n' + message['content'] + '<|im_end|>\n' -}} #}
    {%- endif -%}

    {# add the generation prompt #}
    {%- if loop.last and add_generation_prompt -%}
        {{- '<|im_start|>assistant\n<think>' -}}
    {%- endif -%}
{%- endfor -%}
